:root{
    --BG:#a01515;
    --frostedGlass:  #19303abc;
    --frostedGlassBG:#0a01225d;
    --page: #5A0C1C;
    --pageBG: #0E010E;
    --glass: #292B31;
}

@font-face {
    font-family: 'Nunito.ttf';
    src: url('Nunito.ttf') format('truetype');
}
body {
    background-image: repeating-radial-gradient(#292B31, #0E010E 1000px);
    font-family: 'Nunito.ttf';
    text-shadow: #0E010E 2.5px 1.8px 0.6px;
    color: #a01515;
    font-weight: lighter;
}
.header{
    position: sticky; /* Makes the header stick to the top while scrolling */
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the header stays above other elements */
    display: flex;
    height: 10vh;
    justify-content:space-evenly;
    align-items: center;
    background-color: var(--frostedGlass); /* Semi-transparent background */
    background-image: linear-gradient(to bottom, var(--frostedGlass), var(--frostedGlassBG));
    backdrop-filter: blur(15px); /* Frosted glass effect */
    box-shadow: 0 2px 5px var(--frostedGlassBG); /* Optional shadow for depth */
    box-sizing: border-box;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-left: 4vw;
    padding-right: 4vw;
    pointer-events: auto;
    
    margin: 2rem auto;
    border-radius: 30px;
    border-style: solid;
    border-color: transparent;
}
@keyframes logoGrow {
    0% {transform: scale(100%);}
    100% {transform: scale(117%);}
}
.logo{
    animation-name: logoGrow;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: flex;
}
.logo img{
    height: 10vh;
    width: auto;
    cursor: pointer;
}
.logo:hover{
    animation-play-state: paused;
}
.logo img:hover{
    transform: scale(85%);
}
.profile{
    background-image: linear-gradient(to bottom right, #5a0c1c69, #0e010e41);
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 30px;
    border-style: groove;
    border-color: var(--BG);
    height: 100vh;
    max-width: 600px;
    transform: scale(80%);
}
a{
    background-color: var(--frostedGlassBG);
    margin: 1.5rem auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    border: solid var(--BG) 2.7px;
    box-shadow: var(--pageBG) 0px 3px 0px -0.5px;
    cursor: pointer;
    width: 96px;
    height: 86px;
}
.socials img{
    height: 80px;
    width: auto;
}
a:hover {
    background-color: #5a0c1c69;
    box-shadow: none;
    transform: translateY(5px);
}